Repository felipbizz/datathon-mle: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-output, ruff-format

remove-notebook-output:
  name: Remove notebook output
  description: Strips out any output or data from Jupyter Notebook cells
  language: system
  entry: jupyter nbconvert --clear-output --inplace

ruff-format:
  name: ruff format
  entry: uvx ruff format
  language: system

chore: alterações chore do projeto
  .gitignore
  .pre-commit-config.yaml
  README.md
  docs/data_dictionary_template.md
  pyproject.toml
  scripts/convert_kaggle.py
  scripts/topk.py
  uv.lock
Due: ruff-format

feat: iniciando as análises exploratórias e criação de features
  src/check_data_quality.py
  src/consolidar_dados.py
  src/definir_target.py
  src/eda.py
  src/feature_engineering.py
Due: ruff-format

feat: template para dicionário de dados
  src/generate_data_dictionary.py
Due: ruff-format

feat: preprocessamento dos dados
  src/preprocess_data.py
Due: ruff-format

feat: treinamento do modelo
  src/train_model.py
Due: ruff-format

uvx ruff format and check
  src/check_data_quality.py
  src/consolidar_dados.py
  src/definir_target.py
  src/eda.py
  src/feature_engineering.py
  src/generate_data_dictionary.py
  src/preprocess_data.py
  src/train_model.py
Due: ruff-format

feat: add readme
  README.md
Due: none

feat: add notebooks com exploratoria
  notebooks/01_exploratoria.ipynb
  notebooks/colunas_valores_ausentes.ipynb
Due: remove-notebook-output

fix: update src files order
  README.md
Due: none

feat: add main to run all pipeline and change print by logging
  Makefile
  main.py
  src/check_data_quality.py
  src/definir_target.py
  src/eda.py
  src/log_config.py
  src/preprocess_data.py
Due: ruff-format

feat: add docs with planning and decisions
  docs/decisoes_feature_engineering_modelagem.md
  docs/planejamento_projeto.md
  docs/tasks.md
Due: none

fix: convert json to df function name
  src/preprocess_data.py
Due: ruff-format

fix: print to logging
  src/feature_engineering.py
Due: ruff-format

chore: add new libs and new function to makefile
  Makefile
  main.py
  pyproject.toml
  uv.lock
Due: ruff-format

fix: correcting business logic, adding logs and correcting paths
  src/consolidar_dados.py
  src/definir_target.py
  src/feature_engineering.py
  src/preprocess_data.py
  src/train_model.py
Due: ruff-format

feat: add config yaml
  config.yaml
  src/config.py
  src/feature_engineering.py
Due: ruff-format

docs: run scripts
  README.md
Due: none

fix: update logs
  src/__init__.py
  src/check_data_quality.py
  src/eda.py
Due: ruff-format

feat: ajustando funcoes do MLFlow e corrigindo o docker-compose
  infra/volumes/grafana/var/grafana.db
Due: none

feat: adicionando registro do melhor modelo
  .gitignore
  infra/docker-compose.yaml
  src/train_model.py
Due: ruff-format

feat: adicionando gestao do registro dos modelos (list/purge)
  Makefile
  src/model_mgmt.py
  src/train_model.py
Due: ruff-format

feat: adicionando dockerização do modelo registrado + bug fix do registro do modelo
  Makefile
  main.py
  src/train_model.py
Due: ruff-format

feat: adicionando target para definição do tracking server ao Makefile
  Makefile
  mlruns/0/meta.yaml
  src/train_model.py
Due: ruff-format

fix: removendo pasta mlruns e ajustando gitignore
  .gitignore
  mlruns/0/meta.yaml
Due: none

feat: notebook with inference example
  notebooks/04_simulação_inferencia.ipynb
Due: remove-notebook-output

feat: add mlflow
  pyproject.toml
  uv.lock
Due: none

feat: add bentoml first commit
  Makefile
  pyproject.toml
  src/bentofile.yaml
  src/save_model.py
  src/service.py
  uv.lock
Due: ruff-format

fix bentoml make
  Makefile
  src/save_model.py
Due: ruff-format

feat: add hyperparameter tuning and new model support in training pipeline
  Makefile
  config.yaml
  main.py
  pyproject.toml
  src/feature_engineering.py
  src/train_model.py
  src/tune_model.py
  uv.lock
Due: ruff-format

Add initial project structure and testing framework
  Makefile
  pyproject.toml
  requirements-test.txt
  src/datathon_mle.egg-info/PKG-INFO
  src/datathon_mle.egg-info/SOURCES.txt
  src/datathon_mle.egg-info/dependency_links.txt
  src/datathon_mle.egg-info/requires.txt
  src/datathon_mle.egg-info/top_level.txt
  src/feature_engineering.py
  src/preprocess_data.py
  tests/__init__.py
  tests/test_consolidar_dados.py
  tests/test_definir_target.py
  tests/test_feature_engineering.py
  tests/test_preprocess_data.py
  tests/test_train_model.py
  uv.lock
Due: ruff-format

feat: preparação da api
  api/README.md
  api/controllers/model_controller.py
  api/logs/api/api.log
  api/logs/model_controller/model_controller.log
  api/logs/setup/setup.log
  api/main.py
  api/pyproject.toml
  api/src/__init__.py
  api/src/old-setup.py
  api/src/utils.py
  pyproject.toml
  src/check_data_quality.py
  src/feature_engineering.py
  uv.lock
Due: ruff-format

feat: melhorando funções do Makefile
  Makefile
  config.yaml
  infra/docker-compose.yaml
  scripts/initialize_data.sh
Due: none

feat: melhorias do Makefile; inicio da componentização do projeto
  .gitignore
  Makefile
  api/controllers/model_controller.py
  api/logs/api/api.log
  api/logs/model_controller/model_controller.log
  api/main.py
  api/src/__init__.py
  api/src/old-setup.py
  api/src/utils.py
  config.yaml
  config_20250518_163130.yaml
  config_20250518_164922.yaml
  infra/packages/mle_datathon-0.1.0-py3-none-any.whl
  main.py
  pyproject.toml
  src/check_data_quality.py
  src/consolidar_dados.py
  src/generate_data_dictionary.py
  src/model_mgmt.py
  src/save_model.py
  src/train_model.py
  src/tune_model.py
  uv.lock
Due: ruff-format

feat: example inference notebook
  notebooks/02_simulação_inferencia.ipynb
  pyproject.toml
  uv.lock
Due: remove-notebook-output

refactor: change logging by loguru
  main.py
  src/consolidar_dados.py
  src/definir_target.py
  src/feature_engineering.py
  src/log_config.py
  src/preprocess_data.py
  src/train_model.py
Due: ruff-format

refactor: change logging by loguru
  src/check_data_quality.py
  src/eda.py
Due: ruff-format

refactor: remove bentoml files
  src/save_model.py
  src/service.py
Due: ruff-format

Path conditions:
  remove-notebook-output: any of: \.ipynb$
  ruff-format: any of: \.py$
