Repository felipbizz/datathon-mle: changes, and which pre-commit hooks are due for each by the changed paths.
All: remove-notebook-output, ruff-format

remove-notebook-output:
  name: Remove notebook output
  description: Strips out any output or data from Jupyter Notebook cells
  language: system
  entry: jupyter nbconvert --clear-output --inplace

ruff-format:
  name: ruff format
  entry: uvx ruff format
  language: system

feat: explainability notebook
  notebooks/LIME_and_SHAP.ipynb
  notebooks/colunas_valores_ausentes.ipynb
Due: remove-notebook-output

format: ruff format and check
  main.py
  notebooks/02_simulação_inferencia.ipynb
  notebooks/LIME_and_SHAP.ipynb
  notebooks/colunas_valores_ausentes.ipynb
  pyproject.toml
  src/check_data_quality.py
  src/compare_feature_importance.py
  src/config.py
  src/consolidar_dados.py
  src/db_mgmt.py
  src/definir_target.py
  src/eda.py
  src/feature_engineering.py
  src/generate_data_dictionary.py
  src/log_config.py
  src/model_mgmt.py
  src/preprocess_data.py
  src/train_model.py
  src/tune_model.py
  tests/test_consolidar_dados.py
  tests/test_definir_target.py
  tests/test_feature_engineering.py
  tests/test_preprocess_data.py
  tests/test_train_model.py
Due: remove-notebook-output, ruff-format

docs: update readme with new features
  README.md
Due: none

feat: add new inference example
  front/app.py
  notebooks/02_simulação_inferencia.ipynb
  pyproject.toml
  src/feature_engineering.py
  src/log_config.py
  uv.lock
Due: remove-notebook-output, ruff-format

feat: finalizado o pacote; adição da api
  Makefile
  api/controllers/model_controller.py
  api/logs/api/api.log
  api/logs/model_controller/model_controller.log
  api/main.py
  api/packages/mle_datathon-0.1.0-py3-none-any.whl
  api/pyproject.toml
  main.py
  notebooks/teste.ipynb
  src/config.py
  src/consolidar_dados.py
  src/definir_target.py
  src/feature_engineering.py
  src/log_config.py
  src/model_mgmt.py
  src/preprocess_data.py
  src/save_model.py
  src/train_model.py
  src/tune_model.py
  uv.lock
Due: remove-notebook-output, ruff-format

feat: adicionando código do pacote
  infra/packages/mle_datathon-0.1.0-py3-none-any.whl
  packages_src/mle_datathon/.gitignore
  packages_src/mle_datathon/.python-version
  packages_src/mle_datathon/README.md
  packages_src/mle_datathon/pyproject.toml
  packages_src/mle_datathon/source_files/__init__.py
  packages_src/mle_datathon/source_files/bentofile.yaml
  packages_src/mle_datathon/source_files/check_data_quality.py
  packages_src/mle_datathon/source_files/db_mgmt.py
  packages_src/mle_datathon/source_files/definir_target.py
  packages_src/mle_datathon/source_files/eda.py
  packages_src/mle_datathon/source_files/feature_engineering.py
  packages_src/mle_datathon/source_files/generate_data_dictionary.py
  packages_src/mle_datathon/source_files/model_mgmt.py
  packages_src/mle_datathon/source_files/preprocess_data.py
  packages_src/mle_datathon/source_files/save_model.py
  packages_src/mle_datathon/source_files/service.py
  packages_src/mle_datathon/src/mle_datathon/__init__.py
  packages_src/mle_datathon/src/mle_datathon/api_settings/__init__.py
  packages_src/mle_datathon/src/mle_datathon/api_settings/settings.py
  packages_src/mle_datathon/src/mle_datathon/data_processing/__init__.py
  packages_src/mle_datathon/src/mle_datathon/data_processing/consolidar_dados.py
  packages_src/mle_datathon/src/mle_datathon/data_processing/definir_target.py
  packages_src/mle_datathon/src/mle_datathon/data_processing/feature_engineering.py
  packages_src/mle_datathon/src/mle_datathon/data_processing/preprocess_data.py
  packages_src/mle_datathon/src/mle_datathon/model/__init__.py
  packages_src/mle_datathon/src/mle_datathon/model/registry.py
  packages_src/mle_datathon/src/mle_datathon/model/train_model.py
  packages_src/mle_datathon/src/mle_datathon/model/tune_model.py
  packages_src/mle_datathon/src/mle_datathon/utils/__init__.py
  packages_src/mle_datathon/src/mle_datathon/utils/logger.py
  packages_src/mle_datathon/src/mle_datathon/utils/utils.py
  packages_src/mle_datathon/uv.lock
Due: ruff-format

Add: código para fazer download dos dados do Datathon Decision
  scripts/initialize_data.sh
Due: none

Fix: agora cria a pasta destino (bronze e silver) onde os parquets serão salvos
  src/preprocess_data.py
Due: ruff-format

Fix: agora cria a pasta destino (4_gold) antes de exportar o parquet
  src/consolidar_dados.py
Due: ruff-format

Ajustando imagem docker da API
  Makefile
  api/.dockerignore
  api/Dockerfile
  api/controllers/model_controller.py
  api/logs/api/api.log
  api/logs/model_controller/model_controller.log
  api/packages/mle_datathon-0.1.0-py3-none-any.whl
  infra/docker-compose.yaml
  infra/packages/mle_datathon-0.1.0-py3-none-any.whl
  src/eda.py
Due: ruff-format

feat: airflow + terraform
  .gitignore
  infra/airflow/dags/db_decision.tb_history_applicants.py
  infra/airflow/dags/db_decision.tb_history_prospects.py
  infra/airflow/dags/db_decision.tb_history_vagas.py
  infra/terraform/.terraform.lock.hcl
  infra/terraform/backend.tf
  infra/terraform/ec2.tf
  infra/terraform/ec2_userdata.sh
  infra/terraform/elb.tf
  infra/terraform/iam.tf
  infra/terraform/lambda.tf
  infra/terraform/main.tf
  infra/terraform/s3.tf
  infra/terraform/sqs.tf
  infra/terraform/variables.tf
  infra/terraform/vpc.tf
  lambdas/process_decision_file_lambda/lambda_function.py
  lambdas/process_live_lambda/lambda_function.py
Due: ruff-format

feat: add .terraform gitignore
  .gitignore
Due: none

fix: corrigindo o container do MLFlow server
  Makefile
  infra/docker-compose.yaml
Due: none

feat? add exploratory notebooks
  notebooks/00_pipeline.ipynb
  notebooks/01_exploratoria.ipynb
  notebooks/02_simulação_inferencia.ipynb
Due: remove-notebook-output

feat: ajustando endpoint de consulta de modelos para listar todas as versões
  api/packages/mle_datathon-0.1.0-py3-none-any.whl
  infra/packages/mle_datathon-0.1.0-py3-none-any.whl
  packages_src/mle_datathon/src/mle_datathon/model/registry.py
Due: ruff-format

feat: add inference simulation
  notebooks/02_simulacao_inferencia.ipynb
  notebooks/04_simulação_inferencia.ipynb
  packages_src/mle_datathon/src/mle_datathon/data_processing/preprocess_data.py
Due: remove-notebook-output, ruff-format

fix: ajustando coleta do prometheus
  infra/volumes/prometheus/prometheus.yaml
Due: none

feat: add front streamlit
  front/app.py
  pyproject.toml
  uv.lock
Due: ruff-format

feat: add front-end
  Makefile
Due: none

fix: refactor tests imports
  tests/test_consolidar_dados.py
  tests/test_definir_target.py
  tests/test_feature_engineering.py
  tests/test_preprocess_data.py
  tests/test_train_model.py
Due: ruff-format

chore: update readme
  README.md
Due: none

feat: atualização do README e organização de arquivos do projeto
  Makefile
  README.md
  infra/docker-compose.yaml
  infra/scripts/initialize_data.sh
Due: none

feat: update front
  front/app.py
Due: ruff-format

Update README.md
  README.md
Due: none

fix: corrigindo target build-local-packages no Makefile
  Makefile
  api/packages/mle_datathon-0.1.0-py3-none-any.whl
  infra/packages/mle_datathon-0.1.0-py3-none-any.whl
  packages_src/mle_datathon/src/mle_datathon/api_settings/settings.py
Due: ruff-format

Testes simples dos endpoints
  tests/test_api.py
Due: ruff-format

Path conditions:
  remove-notebook-output: any of: \.ipynb$
  ruff-format: any of: \.py$
